@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* lenis 設定 */
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --border: 0 0% 89.8%;
    --text-muted: 0 0% 34%;
    --color-black: 0 0% 0%;
    --color-primary: 153 48% 49%;
    --color-sun: 56 94% 59%;
    --color-sun-background: 0 0% 100%;
    --color-moon: 0 0% 89%;
    --color-moon-background: 0 0% 100%;
    --color-moon-border: 0 0% 89%;
    --color-theme-toggle-bg: 0 0% 100%;
    --color-heading: 210 26% 28%;
    --color-text-unread: 0 0% 79%;
    --color-text-read: 210 26% 28%;
  }

  .dark {
    --background: 231 83% 5%;
    --foreground: 0 0% 98%;
    --border: 151 30% 24%;
    --text-muted: 151 100% 49%;
    --color-black: 153 48% 49%;
    --color-primary: 153 48% 49%;
    --color-sun: 0 0% 89% / 0.5;
    --color-sun-background: 0 0% 0%;
    --color-moon: 36 100% 72%;
    --color-moon-background: 260 67% 43%;
    --color-moon-border: 261, 67%, 42%;
    --color-theme-toggle-bg: 0 0% 100% / 0.5;
    --color-heading: 153 47% 49%;
    --color-text-unread: 210 26% 28%;
    --color-text-read: 0 0% 79%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  html,
  body {
    @apply scrollbar-none;
  }

  body {
    font-family: 'Afacad', sans-serif;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
